html {
    scroll-behavior: smooth;
}

/* Main Content of Site */
#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  max-width: 850px;
  line-height: 26px;
  font-size: 16px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Site Sections */
section {
    padding-top: 20px;
}

/* Arlo Sub-Section */
#arlo {
    text-align: center;
    font-style: italic;
    margin-bottom: -30px;
}

/* Thumbnail Gallery column */
.column {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding: 2px 5px;
}

/* Thumbnail Gallery after row */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Gallery Thumbnails on Hover */
img.thumbnail:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* Arlo Talks Sub-Section */
#arlo-talks-container {
  margin-top: 20px;
  bottom: 0;
}

/* Images Sizing */
img {
    max-width: 100%;
    max-height: 90vh;
}

/* Body Styles */
body {
    background-color: rgb(253, 245, 230, 0.7);
    font-family: sans-serif;
}

/* Description List Term style */
dt {
    font-weight: bold;
    margin-top: 1em;
}

/* Description List Details spacing */
dd {
    margin-bottom: 0.5em;
}

/* Description List Term for Work Position */
dt.workposition {
    font-style: italic;
    font-weight: lighter;
    margin-top: -0.2em;
}

/* Links Style */
a {
    color: black;
}

/* Links Style when Hovering Mouse */
a:hover{
    color: grey;
}

/* Sticky Navbar */
#navbar {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color:rgb(211, 211, 211);
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: 0.5s;
}

/* Navbar Menu Left Title */
#navbar-title {
    float: left;
    font-size: 30px;
    transition: 0.3s;
}

/* Navbar Menu Right Section */
#navbar-right {
    position: relative;
    top: 10px;
    float: right;
    font-size: 16px;
    padding-right: 35px;
}

/* Navbar Menu Links */
#navbar-right a {
    display: box;
    text-decoration: none;
    color: black;
    padding: 50px 30px;
}

/* Navbar Menu Links when Hovering Mouse */
#navbar-right a:hover {
    background: rgb(95, 95, 95);
    color: white;
}

/* Social Media Buttons Layout */
.social-media {
    display: flex;
    justify-content: center;
}

/* LinkedIn Button */
#linkedin:hover {
    color: rgb(40,103,178);
}

/* Facebook Button */
#facebook:hover {
    color: #3b5998;
}

/* IG Button */
#instagram:hover {
    color: #8134AF;
}

/* Github Button */
#github:hover {
    color: orangered;
}

/* Comment Formm Styling */
label::after {
    content: "\a";
    white-space: pre;
}
form::after {
    content: "\a";
    white-space: pre;
}
input, textarea {
  width: 300px;
}
#submit {
    width: 100px;
}
#comments-history {
    font-style: italic;
}
#comments-history::after {
    content: "\a";
    white-space: pre;
}

/* Lightbox */
#lightbox {
    display: none;
    position: fixed;
    z-index: 200;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Lightbox picture contents */
.lightbox-content {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

/* Lightbox buttons: close, prev, next */
.interface-buttons {
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

/* Lighbox Close button */
#close {
    top: 0.5em;
    right: 1em;
}

/* Lightbox previous button */
#prev {
    position: absolute;
    top: 50%;
    margin-left: -1em;
}

/* Lightbox next button */
#next {
    position: absolute;
    top: 50%;
    margin-right: -1em;
    right: 0;
}

/* Lightbox pic */
.lightbox-pic {
    display: none;
    margin: auto;
}

/* Lightbox pic captions */
figcaption {
    font-size: 16px;
    color: white;
    text-align: center;
    margin-top: 0;
}

/* Responsive navbar to screen width */
@media screen and (max-width: 880px){
    #navbar-right {
        display: none;
    }
}